# TODO: foldmarker=[[[,]]]:foldmethod=marker
# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[Makefile]
indent_style = tab

[**.{md,rst}]
trim_trailing_whitespace = false
indent_style = tab

insert_final_newline = true

[*.yml]
indent_style = space
indent_size = 2

[.git*]
indent_size = tab
indent_style = tab

max_line_length    = 80
shell_variant      = sh
binary_next_line   = true  # like -bn
switch_case_indent = true  # like -ci
space_redirects    = true  # like -sr
keep_padding       = false # like -kp
