# Note: VIM users should use alternate marks [[[ and ]]] as the original ones can confuse nested substitutions, e.g.: ${${${VAR}}}
# # Space or Tabs? https://stackoverflow.com/questions/35649847/objective-reasons-for-using-spaces-instead-of-tabs-for-indentation

root = true

[*]
indent_style = tab
indent_size = 4
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
#continuation_indent_size = 4

[Makefile]
indent_style = tab

[**.{md,rst}]
trim_trailing_whitespace = false

[*.yml]
indent_style = space
indent_size = 2

[.git*]
indent_size = tab
indent_style = tab

[*.{sh,zsh}]
indent_style = space  
shell_variant   = sh
#max_line_length = 120
