# VSCODE workspace
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
*.code-workspace

# Exclude for security reasons
.history/
.env

# Zsh compiled script + zrecompile backup
*.zwc
*.zwc.old

# Zsh completion-optimization dumpfile
*zcompdump*

# Zsh zcalc history
.zcalc_history

# A popular plugin manager's files
._zi
._zinit
.zi_lastupd
.zinit_lastupd

# A popular older versions plugin manager's files
._zplugin
.zplugin_lstupd

# z-shell/zshelldoc tool's files
zsdoc/data
docs/zsdoc/data

# ohmyzsh/ohmyzsh/plugins/per-directory-history plugin's files
# (when set-up to store the history in the local directory)
.directory_history

# MichaelAquilina/zsh-autoswitch-virtualenv plugin's files
# (for Zsh plugins using Python)
.venv

# Zunit tests' output
/tests/_output/*
!/tests/_output/.gitkeep

### C
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Repository specific files
test/
txt/
*.txt
*.zwc
*.zini
*lib/zsh/*zwc
.ycm_extra_conf.py
*deploy*key*
*.bundle
site*/
other
TODO*
tags
TAGS
*.o
*.o.c
*.orig
*.a
*.so
*.dll
*~
.*.sw?
\#*

CVS
.#*

# Zmodules
zmodules/COMPILED_AT
zmodules/Src/*.epro
zmodules/Src/*.export
zmodules/Src/*.mdh
zmodules/Src/*.mdh.tmp
zmodules/Src/*.mdhi
zmodules/Src/*.mdhs
zmodules/Src/*.syms
zmodules/Src/*.dSYM
zmodules/Src/Makemod.in
zmodules/Src/Makemod
zmodules/Src/[_a-zA-Z0-9]*.pro
zmodules/Src/ansi2knr
zmodules/Src/bltinmods.list
zmodules/Src/cscope.out
zmodules/Src/libzsh.so*
zmodules/Src/modules-bltin
zmodules/Src/modules.index
zmodules/Src/modules.index.tmp
zmodules/Src/modules.stamp
zmodules/Src/patchlevel.h
zmodules/Src/sigcount.h
zmodules/Src/signames.c
zmodules/Src/signames2.c
zmodules/Src/stamp-modobjs
zmodules/Src/stamp-modobjs.tmp
zmodules/Src/tags
zmodules/Src/TAGS
zmodules/Src/version.h
zmodules/Src/zshcurses.h
zmodules/Src/zshpaths.h
zmodules/Src/zshterm.h
zmodules/Src/zshxmods.h
zmodules/Src/zshell/Makefile.in
zmodules/Src/zshell/*.export
zmodules/Src/zshell/so_locations
zmodules/Src/zshell/*.pro
zmodules/Src/zshell/*.epro
zmodules/Src/zshell/*.syms
zmodules/Src/zshell/*.dSYM
zmodules/Src/zshell/*.mdh
zmodules/Src/zshell/*.mdhi
zmodules/Src/zshell/*.mdhs
zmodules/Src/zshell/*.mdh.tmp
zmodules/Src/zshell/errnames.c
zmodules/Src/zshell/errcount.h
zmodules/Src/zshell/curses_keys.h
zmodules/Config/defs.mk
zmodules/Test/*.tmp

/zmodules/META-FAQ
/zmodules/config.cache
/zmodules/config.h
/zmodules/config.log
/zmodules/config.modules
/zmodules/config.modules.sh
/zmodules/config.status
/zmodules/config.status.lineno
/zmodules/cscope.out
/zmodules/stamp-h
/zmodules/autom4te.cache
